<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mktoba</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<header>
    <div class="logo">
      <a href="/"><img src="imgs/logo.png" alt="logo"></a>
        <a href="/"><h1>mktoba</h1></a>
    </div>

    <div class="search">
    <input class="search-input" id="search" type="text" >
    <button class="search-btn"  onclick="gitbooks()">search</button>
    </div>
    <nav>
      <ul>
        <a href="/"><li><img src="imgs/home.png" alt="">Home</li></a> 
        <a href="/mybooks"> <li><img src="imgs/mybooks.png" alt="">My Books</li></a> 
        <a href="/profile"> <li><img src="imgs/login.png" alt="">profile</li></a> 
        <a href="/logout"> <li><img src="imgs/logout.png" alt="">log-out</li></a> 
      </ul>
    </nav>
</header> 
<div class="container" id="container">
<h4> Our Books</h4>
<div class="galary" id="galary">

        
<div class="book">
<img src="imgs/dad.jpg" alt="">
<h5>bookname</h5>
</div>
<div class="book">
<img src="imgs/img1.jpg" alt="">
<h5>bookname</h5>
</div>
<div class="book">
<img src="imgs/img2.jpg" alt="">
<h5>bookname</h5>
</div>
<div class="book">
<img src="imgs/img3.jpg" alt="">
<h5>bookname</h5>
</div>
<div class="book">
<img src="imgs/img4.jpg" alt="">
<h5>bookname</h5>
</div>
<div class="book">
<img src="imgs/img5.jpg" alt="">
 <h5>bookname</h5>
 </div>
 <div class="book">
    <img src="imgs/img5.jpg" alt="">
     <h5>bookname</h5>
     </div>
     <div class="book">
        <img src="imgs/img5.jpg" alt="">
         <h5>bookname</h5>
         </div>
         <div class="book">
            <img src="imgs/img5.jpg" alt="">
             <h5>bookname</h5>
             </div>
             <div class="book">
                <img src="imgs/img5.jpg" alt="">
                 <h5>bookname</h5>
                 </div>
                 <div class="book">
                    <img src="imgs/img5.jpg" alt="">
                     <h5>bookname</h5>
                     </div>
                     <div class="book">
                        <img src="imgs/img5.jpg" alt="">
                         <h5>bookname</h5>
                         </div>
 </div>
</div>
<footer>
    <div class="footer-content">
      <p>Copyright © El Hadeer Group since 2023</p>
      <h3 >mktoba</h3>
      <h2>Contact us:</h2>
      <ul class="socials">
        <li><a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a></li>
        <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a></li>
      </ul>
     
    </div>
  </footer>


<script src="js/script.js"></script>
</body>
</html>