<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>mktoba</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
<<<<<<< HEAD
<%- include("./parts/header",{auth:auth} )%>
=======
<%- include("./parts/header") %>
>>>>>>> 583a205 (fixed the search and removed mybooks)
<div class="container" id="container">
<h4> Our Books</h4>
<div class="galary" id="galary">

        
<div class="book">
<img src="imgs/dad.jpg" alt="">
<h5>bookname</h5>
</div>
<div class="book">
<img src="imgs/img1.jpg" alt="">
<h5>bookname</h5>
</div>
<div class="book">
<img src="imgs/img2.jpg" alt="">
<h5>bookname</h5>
</div>
<div class="book">
<img src="imgs/img3.jpg" alt="">
<h5>bookname</h5>
</div>
<div class="book">
<img src="imgs/img4.jpg" alt="">
<h5>bookname</h5>
</div>
<div class="book">
<img src="imgs/img5.jpg" alt="">
 <h5>bookname</h5>
 </div>
 <div class="book">
    <img src="imgs/img5.jpg" alt="">
     <h5>bookname</h5>
     </div>
     <div class="book">
        <img src="imgs/img5.jpg" alt="">
         <h5>bookname</h5>
         </div>
         <div class="book">
            <img src="imgs/img5.jpg" alt="">
             <h5>bookname</h5>
             </div>
             <div class="book">
                <img src="imgs/img5.jpg" alt="">
                 <h5>bookname</h5>
                 </div>
                 <div class="book">
                    <img src="imgs/img5.jpg" alt="">
                     <h5>bookname</h5>
                     </div>
                     <div class="book">
                        <img src="imgs/img5.jpg" alt="">
                         <h5>bookname</h5>
                         </div>
 </div>
</div>

<%- include("./parts/footer") %>
<script src="js/home.js"></script>
</body>
</html>
