<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="css/style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>
    
<%- include("./parts/header",{auth} )%>
    <div class="signup">
        <h1 id="h11"> Sign Up</h1>  
        <h4 id="h41"> it's free and only takes a minute</h4> 
        <form>
         <label> First Name </label>
         <input type="text" placeholder="First Name" id="fname" onkeyup="fnamevalid()">
         <span class="forrm" id="fnerr"></span>

         <label> Last Name </label>
         <input type="text" placeholder="Last Name" id="lname" onkeyup="lnamevalid()">
         <span class="forrm" id="lnerr"></span>

         <label> Email </label>
         <input type="email" placeholder="Example@gmail.com" id="email" onkeyup="validateEmail()">
         <span class="forrm" id="emerr"></span>

         <div class="passign">
            <label> Password </label>
           <input type="password" placeholder="password" id="pass1" onkeyup="checkpassword()" onfocus="screen1()" onblur="screen2()">
           <span onmousedown="show('1')" onmouseup="hide('1')"><i class='bx bxs-hide' id="icon1"></i></span>
           </div>
           <div id="vaildpass">
            <h3>valid password:</h3>
            <p id="letter" class="invalid">lowercase</p>
            <p id="capital" class="invalid">capital (uppercase)</p>
            <p id="number" class="invalid">numbers</b></p>
            <p id="length" class="invalid">Minimum 8 characters</p>
          </div>


          <div class="conpass">
            <label> Confirm Password </label>
            <input type="password" placeholder="password" id="pass2" onkeyup="checkpass()">
            <span class="forrm" id="cferr"></span>
            <span onmousedown="show('2')" onmouseup="hide('2')"><i class='bx bxs-hide' id="icon2"></i></span>
         </div>


         <input type="button" value="Signup" id="button1" onclick="regist()">
         <span id="signerr"></span>

         <div class="loginhere">
            <p >Already have an account? <a href="/login">Login here</a> </p>
        </div>


        </form> 
      </div>







      <footer>
        <div class="footer-content">
          <p>Copyright © El Hadeer Group since 2023</p>
          <h3 >mktoba</h3>
          <h2>Contact us:</h2>
          <ul class="socials">
            <li><a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://twitter.com"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.youtube.com"><i class="fab fa-youtube"></i></a></li>
          </ul>
         
        </div>
      </footer>

      <script src="js/logging.js"></script>
</body>
</html>